In [1]:
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
from prophet import Prophet

In [2]:
data = pd.read_csv(r"D:\project\Analytical_Projects\Time_series_UK_Power_consumpation_forecast\dataset\historic_demand_2009_2024.csv")
data.head()

,Unnamed: 0,settlement_date,settlement_period,nd,tsd,england_wales_demand,embedded_wind_generation,embedded_wind_capacity,embedded_solar_generation,embedded_solar_capacity,...,ifa2_flow,britned_flow,moyle_flow,east_west_flow,nemo_flow,nsl_flow,eleclink_flow,scottish_transfer,viking_flow,is_holiday
0,0,2009-01-01,1,37910,38704,33939,54,1403,0,0,...,0,0,-161,0,0,NaN,NaN,NaN,NaN,1
1,1,2009-01-01,2,38047,38964,34072,53,1403,0,0,...,0,0,-160,0,0,NaN,NaN,NaN,NaN,1
2,2,2009-01-01,3,37380,38651,33615,53,1403,0,0,...,0,0,-160,0,0,NaN,NaN,NaN,NaN,1
3,3,2009-01-01,4,36426,37775,32526,50,1403,0,0,...,0,0,-160,0,0,NaN,NaN,NaN,NaN,1
4,4,2009-01-01,5,35687,37298,31877,50,1403,0,0,...,0,0,-160,0,0,NaN,NaN,NaN,NaN,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272542 entries, 0 to 272541
Data columns (total 23 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 272542 non-null  int64
 1   settlement_date            272542 non-null  object
 2   settlement_period          272542 non-null  int64
 3   nd                         272542 non-null  int64
 4   tsd                        272542 non-null  int64
 5   england_wales_demand       272542 non-null  int64
 6   embedded_wind_generation   272542 non-null  int64
 7   embedded_wind_capacity     272542 non-null  int64
 8   embedded_solar_generation  272542 non-null  int64
 9   embedded_solar_capacity    272542 non-null  int64
 10  non_bm_stor                272542 non-null  int64
 11  pump_storage_pumping       272542 non-null  int64
 12  ifa_flow                   272542 non-null  int64
 13  ifa2_flow                  272542 non-null  int64
 14  britned_flow               272542 non-null  int64
 15  moyle_flow                 272542 non-null  int64
 16  east_west_flow             272542 non-null  int64
 17  nemo_flow                  272542 non-null  int64
 18  nsl_flow                   97246 non-null   float64
 19  eleclink_flow              97246 non-null   float64
 20  scottish_transfer          27118 non-null   float64
 21  viking_flow                27118 non-null   float64
 22  is_holiday                 272542 non-null  int64
dtypes: float64(4), int64(18), object(1)
memory usage: 47.8+ MB

In [4]:
data = data.drop_duplicates()
data = data.head(20000)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 20000 non-null  int64
 1   settlement_date            20000 non-null  object
 2   settlement_period          20000 non-null  int64
 3   nd                         20000 non-null  int64
 4   tsd                        20000 non-null  int64
 5   england_wales_demand       20000 non-null  int64
 6   embedded_wind_generation   20000 non-null  int64
 7   embedded_wind_capacity     20000 non-null  int64
 8   embedded_solar_generation  20000 non-null  int64
 9   embedded_solar_capacity    20000 non-null  int64
 10  non_bm_stor                20000 non-null  int64
 11  pump_storage_pumping       20000 non-null  int64
 12  ifa_flow                   20000 non-null  int64
 13  ifa2_flow                  20000 non-null  int64
 14  britned_flow               20000 non-null  int64
 15  moyle_flow                 20000 non-null  int64
 16  east_west_flow             20000 non-null  int64
 17  nemo_flow                  20000 non-null  int64
 18  nsl_flow                   0 non-null      float64
 19  eleclink_flow              0 non-null      float64
 20  scottish_transfer          0 non-null      float64
 21  viking_flow                0 non-null      float64
 22  is_holiday                 20000 non-null  int64
dtypes: float64(4), int64(18), object(1)
memory usage: 3.5+ MB

In [5]:
data_subset = data[['settlement_date','tsd']]

data_subset.head()

  settlement_date    tsd
0      2009-01-01  38704
1      2009-01-01  38964
2      2009-01-01  38651
3      2009-01-01  37775
4      2009-01-01  37298

In [6]:
# convert into date time
data_subset['settlement_date'] = pd.to_datetime(data_subset['settlement_date'])
data_subset = data_subset.rename(columns = {"settlement_date":"ds", "tsd":"y"})
data_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      20000 non-null  datetime64[ns]
 1   y       20000 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 312.6 KB

C:\Users\DELL\AppData\Local\Temp\ipykernel_17684\3877947829.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_subset['settlement_date'] = pd.to_datetime(data_subset['settlement_date'])

In [7]:
# model initialization
model = Prophet()

In [8]:
# train
model.fit(data_subset)

20:35:55 - cmdstanpy - INFO - Chain [1] start processing
20:36:01 - cmdstanpy - INFO - Chain [1] done processing

In [10]:
# create future date
future = model.make_future_dataframe(periods=30)

In [ ]:
forecast =